.post-container {
  padding: 200px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  margin: 3px;
  position: relative;
  background: #eee;
  background-size: cover;
  height: auto;
  min-width: 150px;
  max-width: 300px;
  flex-basis: auto;
  flex-grow: 1;
  animation: 1s ease-out 0s 1 postAppearAnimation;

  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity .2s linear;
    overflow: hidden;
    z-index: 10100;
  }

  &:hover .content{
    width: 300%;
    height: auto;
    margin: 50% -100%;
    transform: translateY(-50%);
    opacity: 1;
    background: white;
    z-index: 10000;
    overflow: initial;
    .image{
      display: block;
      width: 100%;
    }
    .text{
      padding: 30px 20px;
    }
  }
  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }
}
@keyframes postAppearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
