<section class="post-container">
  <article class="post" *ngFor="let post of posts; let i = index" [style.backgroundImage]="'url(' + post.thumbnail + ')'">
    <span *ngIf="i == posts.length - 1" scrollReporter (onScroll)="this.onScroll($event)"></span>
    <main class="content">
      <img class="image" [src]="post.url">
      <div class="text">{{post.title}}</div>
    </main>
  </article>
  <div class="post" *ngFor="let i of [].constructor(50)"></div>
</section>
