/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');
html, body{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
